* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --color1: #007b63;
    /* --color2: #003523; */
    --color2: #180030;
    --gg: #00000075;
}
body {
  background: 100%, linear-gradient(90deg, var(--color1), var(--color2));
  background-size: cover;
  color: #fff;
  font-family: 'Segoe UI', sans-serif;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}
.ovrl {
    background-size:100%;
    height: 100vh;  display: flex;
  flex-direction: column;
  background-position: center bottom 200%;
  width: 100%;
  overflow: hidden;
}
.half {
    width: 100%;
    height: 50vh;
    transition: 0.2s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    filter: grayscale(1);
}
.bhalf {
    background: url(/assets/jun.jpg) no-repeat;
    background-position: 50% 20%;
    background-attachment: fixed;
    background-size: cover;
    background-position-x: 50%;
    background-size: 150%;
    background-position-y: 200px;
}
.thalf {
    background-attachment: fixed;
    background: url(/assets/sen.jpg) no-repeat;
    background-size: cover;
    background-size: 200%;
    background-position-x: 50%;
    background-position-y: -300px;
}
.bhalf:hover {
    height: 85vh;
    background-position-x: 0px; 
    filter: grayscale(0);   
}
.thalf:hover {
    height: 85vh;
    /* background-size: 150%; */
    background-position-x: -400px; 
    filter: grayscale(0);
}
.half:hover > h1{
    font-weight: 600;
    font-size: 35px;
    transform: translateX(-200px);
}
.thalf:hover > .bhalf{
    filter: brightness(0);
    height: 15vh;
}
.bhalf:hover > .thalf{
    height: 15vh;
}
h1 {
    font-size: 30px;
    transition: 0.1s ease-out;
    font-weight: 100;
}